.wrapper {
    max-width: 1440px;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}

.cube__main {
    position: absolute;
    top: 40px;
    left: 122px;
    width: 32px;
    height: 32px;
}

.menu {
    position: absolute;
    margin: auto;
    display: flex;
    justify-content: space-between;
    top: 30px;
    right: 122px;
    width: 86px;
    height: 53px;
    background-color: white;
    border-radius: 30px;
}

.menu__arrow {
    margin: auto;
    width: 11px;
    height: 6px;
}

.menu__icon {
    margin: auto;
    width: 32px;
    height: 32px;
}

.button {
    display: flex;
    padding: 0 70px;
    margin: 29px 62px 73px;
    background-color: #F78065;
    width: 250px;
    height: 65px;
}

.button__logo,
.button__text {
    margin: auto;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
}

.description {
    max-width: 1440px;
    margin: 0 auto;
    position: absolute;
    width: 741px;
    height: 537px;
    background-color: #FFF;
    top: 60%;
    left: 63px;
    box-shadow: 5px 5px  75px rgba(0, 0, 0, 0.3);

    &-title {
        padding: 98px 136px 0 64px;
        font-family: 'Merriweather', serif;
        font-size: 3.9rem;
        font-weight: 600;
    }

    &-title__red {
        color: #F78065;
    }

    &__text {
        padding: 29px 136px 0 64px;
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        color: rgba(0, 0, 0, 0.5);
    }   
}

.about {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    &-cards {
        margin: 400px 0 0;
        max-width: 400px;
    }

    &-cards__title {
        padding: 70px 0 0;
        font-size: 2.4rem;
        font-weight: 600;
    }

    &-cards__description {
        padding: 30px 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
        color: rgba(0, 0, 0, 0.5);
    }

    &-cards__tagline {
        font-size: 1.8rem;
        font-weight: 600;
        color: #F78065;
    }
}

.services {
    max-width: 1440px;
    margin: 0 auto;

    &__title {
        padding: 250px 0 0;
        font-family: 'Merriweather', serif;
        font-size: 3.6rem;
        font-weight: 600;
    }

    &-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &-cards__link {
        padding: 20px 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.8rem;
        font-weight: 600;
        color: #F78065;
    }
}

.cards {
    max-width: 280px;
}

.cards__image {
    padding: 100px 0 0;
}

.cards__title {
    padding: 30px 0;
    font-family: 'Merriweather', serif;
    font-size: 2.2rem;
    font-weight: 700;
}

.cards__description {
    min-height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.5);
}

.managers {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 260px 0 0;

    &-join {
        max-width: 330px;
    }

    &-join__title {
        font-family: 'Merriweather', serif;
        font-size: 3.6rem;
        font-weight: 600;
    }

    &-join__description {
        padding: 30px 0 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.8rem;
        color: rgba(0, 0, 0, 0.5);
    }

    &-button {
        margin: 69px 0;
        padding: 0 90px;
    }

    &-cards__name {
        padding-top: 20px;
        font-family: 'Merriweather', serif;
        font-size: 2.4rem;
        font-weight: 600;
    }

    &-cards__city {
        padding: 10px 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4rem;
        color: #3F3D56;
    }

    &-cards__link {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.8rem;
        color: #F78065;
    }
}

.advantares {
    max-width: 1440px;
    margin: 0 auto;

    &-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        padding-top: 260px;
        font-family: 'Merriweather', serif;
        font-size: 3.6rem;
        font-weight: 600;
    }

    &-cards {
        max-width: 390px;
    }

    &-cards__title {
        height: 140px;
        padding: 64px 0 0;
    }
}

.footer {
    width: 100%;
    background-color: #F7F7F7;

    &-wrapper {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 96px 0;
        margin-top: 250px;
    }

    &-column__title {
        font-family: 'Merriweather', serif;
        font-size: 2.4rem;
        font-weight: 600;
    }

    &-column__description {
        padding-top: 16px;
        font-family: 'Merriweather', serif;
        font-size: 4.8rem;
        font-weight: 600;
        max-width: 300px;
    }

    &-column-li__main {
        padding-bottom: 24px;
        font-family: 'Merriweather', serif;
        font-size: 1.8rem;
        font-weight: 600;
    }

    &-column-li__list {
        padding-bottom: 24px;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4rem;
    }

    &__separator {
        margin: 0 auto;
        width: 1440px;
    }

    &-copyright {
        max-width: 1440px;
        margin: 0 auto;
        padding: 28px 0 60px;
        display: flex;
        justify-content: space-between;
    }

    &-copyright-column__item {
        padding-left: 48px;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4rem;
    }
}
